<template>
    <div id="main">
        <!-- 主播视频窗口 -->
        <Player ref="player" v-if="!mediaOn" :autoPlay="canAutoPlay" />
        <ActiveList v-if="canSpeak" v-show="mediaOn" skin="video" />
        <!-- 主播信息及观看人数 -->
        <div class="header">
            <Presenter class="presenter" />
            <ExitLive />
        </div>
        <!-- 消息列表 -->
        <div class="message-wrapper" :data-show-sender="showMessageSender">
            <Message-List @toggle-show-sender="toggleShowSender" />
        </div>
        <Interaction :enableSpeak="canSpeak" />
        <!-- 购物车组件客户可根据自定义广播信令自己实现 -->
        <CustomShop class="shopping-wrapper" />
    </div>
</template>

<script>
    import Player from '../Player'
    import Presenter from '../Presenter'
    import ExitLive from '../ExitLive'
    import MessageList from '../MessageList'
    import Interaction from '../Interaction'
    import CustomShop from '../CustomShop'
    import ActiveList from '../ActiveList'
    const store = BJY.store
    const auth = BJY.auth
    BJY.Sell.init()
    export default {
        name: 'Video',
        data() {
            return {
                showMessageSender: false,
                canSpeak: auth.canLiveSellSpeak(),
                canAutoPlay: false
            }
        },
        computed: {
            mediaOn: function() {
                return store.get('user.videoOn') || store.get('user.audioOn')
            }
        },
        watch: {
            mediaOn: function(val) {
                if (val && !this.canAutoPlay) {
                    this.canAutoPlay = true
                }
            }
        },
        methods: {
            toggleShowSender(data) {
                this.showMessageSender = data && data.showSender
            }
        },
        components: {
            Player,
            Presenter,
            ExitLive,
            MessageList,
            CustomShop,
            Interaction,
            ActiveList
        }
    }
</script>

<style lang="scss">
    #main {
        height: 100%;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 8px;
        left: 16px;
        right: 16px;
        z-index: 2;
    }
    .message-wrapper {
        position: fixed;
        left: 16px;
        bottom: 32px;
        width: 280px;
        height: 210px;
        padding-right: 32px;
        background: transparent;
        z-index: 2;
        box-sizing: border-box;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        &[data-show-sender] {
            z-index: 5;
        }
    }
    .shopping-wrapper {
        position: fixed;
        right: 15px;
        bottom: 28px;
        z-index: 2;

        .recommend-item {
            position: fixed;
            right: 15px;
            bottom: 80px;
            width: 120px;
        }

        .list {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            .list-content {
                max-height: 300px;
                overflow-y: auto;
            }
        }
    }
    .bjy-sell-interaction {
        position: fixed;
        right: 15px;
        bottom: 36px;
        width: 172px;
        height: 40px;
        margin-left: 12px;
        z-index: 2;
        transition: bottom 0.3s;
    }
</style>
