<template>
    <div class="bjy-sell-with-doc-template">
        <div class="bjy-sell-doc-wrapper" :style="{ height: computedDocHeight }">
            <WhiteBoard />
        </div>
        <div class="bjy-sell-player-wrapper">
            <!-- 主播视频窗口 -->
            <Player ref="player" :style="{ height: computedHeight }" v-if="!mediaOn" :autoPlay="canAutoPlay" />
            <ActiveList v-if="canSpeak" v-show="mediaOn" skin="videoWithDoc" />
            <!-- 消息列表 -->
            <div class="message-wrapper" :data-show-sender="showMessageSender">
                <Message-List @toggle-show-sender="toggleShowSender" />
            </div>
            <Interaction :enableSpeak="canSpeak" />
            <!-- 购物车组件客户可根据自定义广播信令自己实现 -->
            <CustomShop class="shopping-wrapper" />
        </div>
    </div>
</template>

<script>
import Player from '../Player'
import MessageList from '../MessageList'
import Interaction from '../Interaction'
import WhiteBoard from '../WhiteBoard.vue'
import CustomShop from '../CustomShop'
import ActiveList from '../ActiveList'
BJY.Sell.init()
const browserData = BJY.data.browser
const auth = BJY.auth
const store = BJY.store
export default {
    name: 'VideoWithDoc',
    data() {
        return {
            showMessageSender: false,
            docHeight: 0,
            clientHeight: 0,
            canSpeak: auth.canLiveSellSpeak(),
            canAutoPlay: false
        }
    },
    computed: {
        computedDocHeight: function () {
            return this.docHeight ? `${this.docHeight}px` : '50%'
        },
        computedHeight: function () {
            if (this.clientHeight && this.docHeight) {
                var height = this.clientHeight - this.docHeight
                return `${height}px`
            } else {
                return 'unset'
            }
        },
        mediaOn: function () {
            return store.get('user.videoOn') || store.get('user.audioOn')
        }
    },
    watch: {
        mediaOn: function (val) {
            if (val && !this.canAutoPlay) {
                this.canAutoPlay = true
            }
        }
    },
    methods: {
        toggleShowSender(data) {
            this.showMessageSender = data && data.showSender
        }
    },
    components: {
        Player,
        MessageList,
        CustomShop,
        Interaction,
        WhiteBoard,
        ActiveList
    },
    mounted() {
        this.clientHeight = browserData.getDeviceHeight()
        var dockHeight = Math.ceil((browserData.getDeviceWidth() * 3) / 4)
        this.docHeight = dockHeight
    }
}
</script>

<style lang="scss">
#main {
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 8px;
    left: 16px;
    right: 16px;
    z-index: 2;
}
.message-wrapper {
    position: fixed;
    left: 16px;
    bottom: 32px;
    width: 280px;
    height: 210px;
    padding-right: 32px;
    background: transparent;
    z-index: 2;
    box-sizing: border-box;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    &[data-show-sender] {
        z-index: 5;
    }
}
.shopping-wrapper {
    position: fixed;
    right: 15px;
    bottom: 28px;
    z-index: 2;

    .recommend-item {
        position: fixed;
        right: 15px;
        bottom: 80px;
        width: 120px;
    }

    .list {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        .list-content {
            max-height: 300px;
            overflow-y: auto;
        }
    }
}
.bjy-sell-interaction {
    position: fixed;
    right: 15px;
    bottom: 36px;
    width: 172px;
    height: 40px;
    margin-left: 12px;
    z-index: 2;
    transition: bottom 0.3s;
}

.bjy-sell-with-doc-template {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    .bjy-sell-doc-wrapper {
        flex-grow: 0;
        width: 100%;
        position: relative;
        background: #ffffff;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    }

    .bjy-sell-player-wrapper {
        flex: 1;
        width: 100%;
        position: relative;
    }
    .message-wrapper {
        position: fixed;
        left: 16px;
        bottom: 32px;
        width: 280px;
        height: 210px;
        padding-right: 32px;
        background: transparent;
        z-index: 2;
        box-sizing: border-box;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        &[data-show-sender] {
            z-index: 5;
        }
    }
    .shopping-wrapper {
        position: fixed;
        right: 15px;
        bottom: 28px;
        z-index: 3;

        .recommend-item {
            position: fixed;
            right: 15px;
            bottom: 90px;
            width: 120px;
        }

        .list {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            .list-content {
                max-height: 300px;
                overflow-y: auto;
            }
        }
    }
    .bjy-hide-recommend.shopping-wrapper {
        .recommend-item {
            display: none;
        }
    }
    .interaction-wrapper {
        position: fixed;
        right: 15px;
        bottom: 32px;
        width: 172px;
        height: 40px;
        margin-left: 12px;
        z-index: 2;
    }
    .bjy-gift-send-success {
        z-index: 5;
        pointer-events: none;
    }

    #h5-player {
        .tip {
            justify-content: center;
            .sprite-icon.wait {
                margin-top: unset;
            }
        }
        video {
            display: block;
            position: absolute;
        }
        #btn-wrap {
            justify-content: center;
            .icon-live .icon-loading {
                margin-top: unset;
            }
        }
        .bjy-player-watermark {
            z-index: 1;
        }
    }
}
</style>
