<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>直播</title>

  <!-- 使用任何组件都应该引入此基本样式文件 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/classroom/classroom.css" />
  <!-- 直播带货 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/sell/index.css">

  <!-- 其他组件样式根据需要引入 -->
  <!-- loading样式 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/loading/live/Loading.css" />
  <!-- 聊天列表 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageList/MessageList.css" />
  <!-- 聊天发送 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageSender/MessageSender.css" />
  <!-- 白板样式 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/whiteboard/Whiteboard.css" />
  <!-- H5 上麦 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/activeList/h5/ActiveList.css" />
</head>

<body>
  <script type="text/javascript">
    if (~location.href.indexOf('eurda=1')) {
      (function () { var script = document.createElement('script'); script.src = "//cdn.jsdelivr.net/npm/eruda"; document.body.appendChild(script); script.onload = function () { eruda.init() } })();
    }
  </script>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->

  <!-- 本 SDK 需要使用 JQuery 库，因此在使用之前首先引入 JQuery 文件 -->
  <script type="text/javascript" src="https://img.baijiayun.com/public/jquery/1.12.4/jquery-1.12.4.js"></script>
  <!-- 设备相关 api -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/function/wrapWebDeviceApi.js"></script>
  <!-- 如果你需要使用 webrtc 上麦，你需要先引入下面的依赖 -->
  <script src="//live-cdn.baijiayun.com/realtimecat/1.0.27/realtimecat.js"></script>
  <script src="//pro-live-cdn.baijiayun.com/web/dep/trtc/4.4.3/trtc.js"></script>
  <script src="<%= process.env.VUE_APP_BRTC_SDK_BASE_URL %>/BRTC.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/dep/wea/webrtc-engine-adapter.js"></script>
  <!-- 不管你用到这个页面里的任何组件，都需要先引入以下文件 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/classroom/classroom.js"></script>
  <script>BJY.isLiveSell = true</script>
  <!-- 直播带货 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/sell/index.js"></script>

  <!-- 使用组件时应引入对应的依赖, 如：加载loading组件需引入以下依赖 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/loading/live/Loading.js"></script>
  <!-- 用户列表、聊天列表、聊天发送 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userList/UserList.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageList/MessageList.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageSender/MessageSender.js"></script>

  <!-- 播放器相关依赖 -->
  <!-- Bplayer -->
  <script src="https://live-cdn.baijiayun.com/js-sdk/tool/bplayer/3.1.17/ffplayer.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/player.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/core/Player.js"></script>

  <!-- 用户推拉流相关 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userPublish.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userStatus.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userSpeak.js"></script>

  <!-- h5播放器拓展 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/extension/html.js"></script>
  <!-- 白板 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/component/canvas/Canvas.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/whiteboard/Whiteboard.js"></script>

  <!-- h5 上麦 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/extension/webrtc/webrtc.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/activeList/h5/ActiveList.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/activeList/h5/MyDevice.js"></script>
</body>

</html>