<template>
    <div id="app" :class="{ loaded: loaded }">
        <Loading v-if="!loaded" />
        <Video v-if="loaded && isVideoTemplate" id="main" />
        <VideoWithDoc v-if="loaded && !isVideoTemplate" />
    </div>
</template>

<script>
import Loading from './components/Loading'
import Video from './components/template/video'
import VideoWithDoc from './components/template/videoWidthDoc.vue'

var eventEmitter = BJY.eventEmitter
var store = BJY.store
var webrtc = BJY.Player.webrtc
var mediaData = BJY.data.media
var auth = BJY.auth
var config = BJY.config

BJY.logger.enable()

export default {
    data() {
        return {
            loaded: false,
            showMessageSender: false,
            isVideoTemplate: true
        }
    },
    methods: {
        toggleShowSender(data) {
            this.showMessageSender = data && data.showSender
        },
        // 支持解析输入的url进教室
        urlParser(url) {
            var params = {}
            if (url) {
                try {
                    // 获取query
                    var queryStr = url.split('?')[1]
                    var paramList = queryStr.split('&')
                    paramList.forEach((item) => {
                        var pair = item.split('=')
                        params[pair[0]] = pair[1]
                    })
                    // 个性域名
                    params.prefixName = url.split('.')[0].split('//')[1]
                    // 区分环境
                    params.env = params.env || this.getEnv(url)
                } catch (e) {
                    console.log(e)
                }
            }
            return params
        },
        getEnv(url) {
            if (!~url.indexOf('.')) {
                return 'test'
            }
            // 获取环境
            const hostName = url.match(/\/\/(.*)\./)[1]
            if (/test/.test(hostName) || /localhost/.test(hostName) || /\d{1,3}\.\d{1,3}\.\d{1,3}/.test(hostName)) {
                return 'test'
            }
            if (/beta/.test(hostName)) {
                return 'beta'
            }
            if (/www/.test(hostName)) {
                return ''
            }
            return ''
        }
    },
    components: {
        Loading,
        Video,
        VideoWithDoc
    },
    created() {
        console.log('******************************************************************************')
        console.log('*   欢迎使用 BJY JS SDK - 百家云直播 - ' + BJY.version)
        console.log('*   API 文档：https://www.baijiayun.com/js-sdk/doc/#/README')
        console.log('*   版本更新日志：https://www.baijiayun.com/js-sdk/doc/#/change-log')
        console.log('*   常见问题：https://www.baijiayun.com/js-sdk/doc/#/live?id=%e5%b8%b8%e8%a7%81%e9%97%ae%e9%a2%98')
        console.log(
            '*   注意事项：H5 Demo 需要在真机上预览，PC上不支持m3u8流类型， 自己创建教室测试时，注意非webrtc类型教室传入webrtc: 0'
        )
        console.log('*   sign签名规则：https://dev.baijiayun.com/wiki/detail/1')
        console.log('******************************************************************************')
        // https://e87418531.test-at.baijiayun.com/web/room/enter?room_id=20053197914347&user_number=0&user_role=0&user_name=xs&user_avatar=&sign=ad9188f1a2230e711572cef34a913856&auth_md5=056252a83d4c50b1bc296a0e262317b9&user_status=0&log=info
        var options = {
            prefixName: 'e70655665',
            env: 'production',
            room_id: '20121171444643',
            user_number: '10086',
            user_avatar: 'https://img.baijiayun.com/0bjcloud/live/avatar/v2/103.jpg',
            user_name: 'audience',
            user_role: 0,
            sign: '3cd26d2d9c8811820070be455462d407',
            webrtc: 1
        }
        if (~location.href.indexOf('?')) {
            options = Object.assign(options, this.urlParser(location.href))
            options.prefixName = ''
        }

        // debug 模式支持输入传送门链接进入
        // 非webrtc大班课需要在url后拼上 &webrtc=0
        if (location.href.includes('debug=1')) {
            var url = prompt('输入传送门链接进入教室,webrtc课程请在链接后加上&webrtc=1')
            options = Object.assign(options, this.urlParser(url))
        }
        console.log(options)

        var classOption = {
            // 必须为字符串
            id: options.room_id
        }

        if (Number(options.webrtc)) {
            classOption.webrtcType = Number(options.webrtc)
        }

        BJY.init({
            env: options.env,
            privateDomainPrefix: options.prefixName,
            class: classOption,
            user: {
                number: options.user_number,
                avatar: decodeURIComponent(options.user_avatar),
                name: decodeURIComponent(options.user_name),
                type: Number(options.user_role)
            },
            teacher: {
                type: 1
            },
            sign: options.sign
        })

        eventEmitter
            .one(eventEmitter.CLASSROOM_CONNECT_TRIGGER, function (event, data) {
                if (auth.canLiveSellSpeak()) {
                    config.CLASS_START_BUFFER = 4
                    if (BJY.ScreenShareExtensionWebrtc) {
                        BJY.ScreenShareExtensionWebrtc.init()
                    }
                    webrtc.init().then(function () {
                        // 选择使用前置摄像头
                        var cameraList = mediaData.getCameraList()
                        if (cameraList.length > 1) {
                            Yox.array.each(cameraList, function (camera) {
                                if (camera.name.indexOf('前置') > -1 || camera.name.indexOf('front') > -1) {
                                    mediaData.setCameraIndex(camera.index)
                                }
                            })
                        }
                        eventEmitter.trigger(eventEmitter.CLASSROOM_CONNECT_TRIGGER, data)
                    })
                    return false
                }
            })
            .on(eventEmitter.CLASSROOM_CONNECT_TRIGGER, function (event, data) {
                // 开始连接服务器，可以在这做一下创建组件之前的准备
                document.title = store.get('class.title')
            })
            .on(eventEmitter.VIEW_RENDER_TRIGGER, (event, data) => {
                this.isVideoTemplate = BJY.Sell.isVideoFullScreenTemplate()
                // 本事件触发表示直播服务已准备就绪，开始创建组件。该事件只会触发一次，会在BJY.init()之后很短时间内触发，注意监听时机
                this.loaded = true
            })
            // 监听 loading 结束加载事件
            .one(eventEmitter.LOADING_PANEL_END, (event, data) => {
                // loading 结束加载时要做的事情
            })
            .on(eventEmitter.LOGIN_CONFLICT, () => {
                alert('你已被踢，请确保user_number唯一')
            })
    }
}
</script>

<style lang="scss">
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%;

    &.loaded #main {
        top: 0;
        bottom: 0;
    }
}
</style>
