<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />

    <!-- 使用任何组件都应该引入此基本样式文件 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/classroom/classroom.css" />

    <!-- 直播带货 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/sell/index.css">
    <!-- 其他组件样式根据需要引入 -->
    <!-- loading样式 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/loading/live/Loading.css" />
    <!-- 用户列表 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/user/userList/UserList.css" />
    <!-- 聊天列表 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/message/messageList/MessageList.css" />
    <!-- 聊天发送 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/message/messageSender/MessageSender.css" />
    <!-- 问答 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/questionAnswer/QuestionAnswer.css" />
    <!-- 白板样式 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/whiteboard/Whiteboard.css" />
    <!-- 答题器学生端样式 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/answer/student.css" />
    <!-- 小测 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/quiz/student.css" />

    <!-- 公告 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/notice/Notice.css" />

    <!-- h5播放器 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/player/theme/H5.css" />

    <!-- 互动组件 红包雨 点赞 奖励 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/interaction/Interaction.css" />

    <!-- 抽奖 中奖动画、中奖记录-->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/lottery/Lottery.css" />
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/lottery/LotteryHit.css" />

    <!-- 点播预热 -->
    <link rel="stylesheet" href="//live-cdn.baijiayun.com/js-sdk/1.111.0/player/local/Player.css" />

    <title>bjy-live-h5-vue-demo</title>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- 本 SDK 需要使用 JQuery 库，因此在使用之前首先引入 JQuery 文件 -->
    <script src="https://img.baijiayun.com/public/jquery/1.12.4/jquery-1.12.4.js"></script>
    <!-- 不管你用到这个页面里的任何组件，都需要先引入以下文件 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/classroom/classroom.js"></script>

    <script>BJY.isLiveSell = true</script>
    <!-- 直播带货 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/sell/index.js"></script>
    <!-- 如果你需要使用webrtc拓展，你需要先引入这个依赖 -->
    <script src="//live-cdn.baijiayun.com/realtimecat/1.0.26/realtimecat.js"></script>
    <script src="//pro-live-cdn.baijiayun.com/web/dep/trtc/4.4.3/trtc.js"></script>
    <script src="//brtc.baijiayun.com/brtc-js-sdk/2.3.0/BRTC.js"></script>
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/dep/wea/webrtc-engine-adapter.js"></script>

    <!-- 使用组件时应引入对应的依赖, 如：加载loading组件需引入以下依赖 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/loading/live/Loading.js"></script>
    <!-- 用户列表、聊天列表、聊天发送 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/user/userList/UserList.js"></script>
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/message/messageList/MessageList.js"></script>
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/message/messageSender/MessageSender.js"></script>
    <!-- 问答-->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/questionAnswer/QuestionAnswer.js"></script>

    <!-- 学生端小测 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/quiz/student.js"></script>

    <!-- 播放器相关依赖 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/player/player.js"></script>
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/player/core/Player.js"></script>

    <!-- 用户推拉流相关 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/user/userPublish.js"></script>
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/user/userStatus.js"></script>

    <!-- 弹幕组件 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/barrage/Barrage.js"></script>
    <!-- 白板 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/component/canvas/Canvas.js"></script>
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/whiteboard/Whiteboard.js"></script>

    <!-- 公告 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/notice/Notice.js"></script>
    <!-- 答题器 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/answer/student.js"></script>

    <!-- Bplayer -->
    <script src="https://live-cdn.baijiayun.com/js-sdk/tool/bplayer/3.1.2/ffplayer.js"></script>
    <!-- 预取flv音视频解码文件 -->
    <link rel="prefetch"
        src="https://live-cdn.baijiayun.com/js-sdk/tool/bplayer/1.0.3/combine/combine-flv-h264-aac.wasm">

    <!-- h5播放器拓展 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/player/extension/html.js"></script>
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/player/theme/H5.js"></script>

    <!-- 互动组件 红包雨 点赞 奖励 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/interaction/Interaction.js"></script>

    <!-- 抽奖 中奖动画、中奖记录-->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/lottery/Lottery.js"></script>
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/lottery/LotteryHit.js"></script>

    <!-- 专注度检测 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/attentionDetection/AttentionDetection.js"></script>

    <!-- 转播 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/transferClass/TransferClass.js"></script>

    <!-- 点播预热 -->
    <script src="//live-cdn.baijiayun.com/js-sdk/1.111.0/player/local/Player.js"></script>

    <!-- sdk源地址 请求图片使用 -->
    <script>
        BJY.cdnOrigin = '//live-cdn.baijiayun.com/js-sdk/1.111.0';
    </script>
</body>

</html>