<template>
    <div class="bjy-sell-interaction" :data-show-applying-layer="showApplyingLayer ? '1' : '0'">
        <div class="bjy-interaction-item-wraper" :key="key" v-for="key in items" v-show="isEnable(key)">
            <div class="bjy-interaction-item" @click="onItemClick(key)" v-show="key !== 'product' || showProduct">
                <i
                    class="sprite-icon"
                    @animationend="onAnimationEnd($event)"
                    :class="getStyleClass(key)"
                    :data-media-on="mediaOn ? 1 : 0"
                >
                    <i v-if="key === 'product'" class="sprite-icon icon-product-background"></i>
                </i>
            </div>
        </div>
    </div>
</template>

<script>
    const eventEmitter = BJY.eventEmitter
    const config = BJY.config
    const store = BJY.store
    const classData = BJY.data.class
    const INTERACTION_TYPE_PRODUCT = 'product'
    const interactionItemClickHandlerMap = {
        [INTERACTION_TYPE_PRODUCT]: function() {
            eventEmitter.trigger(eventEmitter.SELL_PRODUCT_LIST_SHOW_TRIGGER)
        }
    }
    export default {
        name: 'Interaction',
        props: {
        },
        data: function() {
            return {
                items: [INTERACTION_TYPE_PRODUCT],
                showAnimation: true,
                animationInterval: null,
                showApplyingLayer: false,
            }
        },
        computed: {
            showProduct: function() {
                return !!store.get('product.enableShow')
            },
            started: function() {
                return store.get('class.started')
            }
        },
        methods: {
            isEnable: function(key) {
                return true
            },
            getItemIcon: function(key) {
                return 'icon-interaction-' + key
            },
            onItemClick: function(key) {
                var me = this
                var handler = interactionItemClickHandlerMap && interactionItemClickHandlerMap[key]
                handler && handler.apply(me)
            },
            getStyleClass: function(key) {
                var list = [this.getItemIcon(key)]
                if (key === INTERACTION_TYPE_PRODUCT) {
                    list.push(this.showAnimation ? 'animation' : '')
                }
                return list
            },
            onAnimationEnd: function() {
                this.showAnimation = false
            },
        },
        mounted: function() {
            var me = this
            if (!this.animationInterval) {
                this.animationInterval = setInterval(function() {
                    me.showAnimation = true
                }, 10 * config.SECOND)
            }
        },
        beforeDestroy: function() {
            if (this.animationInterval) {
                clearInterval(this.animationInterval)
                this.animationInterval = null
            }
        }
    }
</script>

<style lang="scss">
    .bjy-sell-interaction {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .bjy-interaction-item-wraper + .bjy-interaction-item-wraper {
            margin-left: 10px;
        }
        .bjy-interaction-item {
            width: 40px;
            height: 40px;

            .icon-interaction-product {
                background-position: -1040px -1320px;
                position: relative;
                &.animation {
                    animation: splash-icon 1.4s steps(33) 1;
                }
                @keyframes splash-icon {
                    0% {
                        background-position-y: 0;
                    }
                    100% {
                        background-position-y: -1320px;
                    }
                }
            }

            .icon-product-background {
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }

            .bjy-like-bubble-wrapper {
                position: absolute;
                bottom: 45px;
                left: 50%;
                transform: translateX(-30%);
                width: 100px;
                height: 260px;
                font-size: 12px;
                pointer-events: none;
            }

            .bjy-like-count {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -11px;
                border-radius: 11px;
                min-width: 40px;
                height: 16px;
                line-height: 16px;
                padding: 0 3px;
                background: #ff1f49;
                font-size: 12px;
                font-family: PingFangSC, PingFangSC-Medium;
                font-weight: 500;
                color: #ffffff;
                white-space: nowrap;
            }
        }

        .bjy-gift-wrapper {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;

            .bjy-gift-layer {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: transparent;
                z-index: -1;
            }
        }

        &[data-show-applying-layer='1'] {
            z-index: 4 !important;
        }
    }
</style>
