@import "variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.eot?99903o')
  src url(icomoon-font-path + '/icomoon.eot?99903o#iefix') format('embedded-opentype'), url(icomoon-font-path + '/icomoon.ttf?99903o') format('truetype'), url(icomoon-font-path + '/icomoon.woff?99903o') format('woff'), url(icomoon-font-path + '/icomoon.svg?99903o#icomoon') format('svg')
  font-weight normal
  font-style normal
  font-display block

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak never
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-video-on
  &:before
    content icon-video-on
.icon-video-off
  &:before
    content icon-video-off
.icon-transfer
  &:before
    content icon-transfer
.icon-times
  &:before
    content icon-times
.icon-times-circle
  &:before
    content icon-times-circle
.icon-ppt-main
  &:before
    content icon-ppt-main
.icon-telephone
  &:before
    content icon-telephone
.icon-survey
  &:before
    content icon-survey
.icon-star
  &:before
    content icon-star
.icon-star-o
  &:before
    content icon-star-o
.icon-star-half
  &:before
    content icon-star-half
.icon-smile-o
  &:before
    content icon-smile-o
.icon-shrink
  &:before
    content icon-shrink
.icon-share
  &:before
    content icon-share
.icon-remark
  &:before
    content icon-remark
.icon-refresh
  &:before
    content icon-refresh
.icon-question-o
  &:before
    content icon-question-o
.icon-ppt
  &:before
    content icon-ppt
.icon-open
  &:before
    content icon-open
.icon-notice-board
  &:before
    content icon-notice-board
.icon-neutral-o
  &:before
    content icon-neutral-o
.icon-nav-more
  &:before
    content icon-nav-more
.icon-mobile
  &:before
    content icon-mobile
.icon-menu
  &:before
    content icon-menu
.icon-keyboard-o
  &:before
    content icon-keyboard-o
.icon-hand-up
  &:before
    content icon-hand-up
.icon-frown-o
  &:before
    content icon-frown-o
.icon-forbid-message
  &:before
    content icon-forbid-message
.icon-extend-m
  &:before
    content icon-extend-m
.icon-expand
  &:before
    content icon-expand
.icon-exit
  &:before
    content icon-exit
.icon-emotion-o
  &:before
    content icon-emotion-o
.icon-downward
  &:before
    content icon-downward
.icon-danmu-on
  &:before
    content icon-danmu-on
.icon-danmu-off
  &:before
    content icon-danmu-off
.icon-comment
  &:before
    content icon-comment
.icon-comment-m
  &:before
    content icon-comment-m
.icon-coin
  &:before
    content icon-coin
.icon-close
  &:before
    content icon-close
.icon-circle-right
  &:before
    content icon-circle-right
.icon-check
  &:before
    content icon-check
.icon-chat
  &:before
    content icon-chat
.icon-caret-down
  &:before
    content icon-caret-down
.icon-bell
  &:before
    content icon-bell
.icon-audio
  &:before
    content icon-audio
.icon-audio-on
  &:before
    content icon-audio-on
.icon-audio-apply
  &:before
    content icon-audio-apply
.icon-arrow-right
  &:before
    content icon-arrow-right
.icon-angle-right
  &:before
    content icon-angle-right
.icon-angle-left
  &:before
    content icon-angle-left
.icon-angle-down
  &:before
    content icon-angle-down
.icon-open-app
  &:before
    content icon-open-app
.icon-video-main
  &:before
    content icon-video-main
.icon-zhujiang .path1
  &:before
    content: icon-zhujiang-path1  
    color rgb(255, 104, 0)
.icon-zhujiang .path2
  &:before
    content: icon-zhujiang-path2  
    margin-left -1em  
    color rgb(255, 255, 255)
.icon-timeclock
  &:before
    content icon-timeclock  
    color #fff
.icon-countdown
  &:before
    content icon-countdown  
    color #fff
.icon-kickout
  &:before
    content icon-kickout
.icon-send-image
  &:before
    content icon-send-image
.icon-signin
  &:before
    content icon-signin
.icon-person
  &:before
    content icon-person
.icon-speaker2
  &:before
    content icon-speaker2
.icon-share2 .path1
  &:before
    content: icon-share2-path1  
    color rgb(0, 0, 0)
.icon-share2 .path2
  &:before
    content: icon-share2-path2  
    margin-left -1em  
    color rgb(0, 0, 0)
.icon-share2 .path3
  &:before
    content: icon-share2-path3  
    margin-left -1em  
    color rgb(51, 51, 51)
.icon-share2 .path4
  &:before
    content: icon-share2-path4  
    margin-left -1em  
    color rgb(51, 51, 51)
.icon-share2 .path5
  &:before
    content: icon-share2-path5  
    margin-left -1em  
    color rgb(51, 51, 51)
.icon-share2 .path6
  &:before
    content: icon-share2-path6  
    margin-left -1em  
    color rgb(51, 51, 51)
.icon-room
  &:before
    content icon-room
.icon-record
  &:before
    content icon-record
.icon-mic
  &:before
    content icon-mic
.icon-link2
  &:before
    content icon-link2
.icon-camera2
  &:before
    content icon-camera2
.icon-forbid-user-chat
  &:before
    content icon-forbid-user-chat
.icon-unforbid-user-chat
  &:before
    content icon-unforbid-user-chat
.icon-invite-speak
  &:before
    content icon-invite-speak
.icon-more-horiz
  &:before
    content icon-more-horiz
.icon-contact-service
  &:before
    content icon-contact-service
.icon-qq
  &:before
    content icon-qq
.icon-yaoqingma
  &:before
    content icon-yaoqingma
.icon-zhanghao
  &:before
    content icon-zhanghao
.icon-android
  &:before
    content icon-android
.icon-angle-down1
  &:before
    content icon-angle-down1
.icon-angle-left1
  &:before
    content icon-angle-left1
.icon-angle-right1
  &:before
    content icon-angle-right1
.icon-angle-up
  &:before
    content icon-angle-up
.icon-apple
  &:before
    content icon-apple
.icon-arrow-down
  &:before
    content icon-arrow-down
.icon-arrow-up
  &:before
    content icon-arrow-up
.icon-arrow
  &:before
    content icon-arrow
.icon-book
  &:before
    content icon-book
.icon-bookrack
  &:before
    content icon-bookrack
.icon-browser
  &:before
    content icon-browser
.icon-bug
  &:before
    content icon-bug
.icon-camera
  &:before
    content icon-camera
.icon-cancel-img
  &:before
    content icon-cancel-img
.icon-caret-down1
  &:before
    content icon-caret-down1
.icon-caret-left
  &:before
    content icon-caret-left
.icon-caret-right
  &:before
    content icon-caret-right
.icon-caret-up
  &:before
    content icon-caret-up
.icon-check1
  &:before
    content icon-check1
.icon-chevron-left
  &:before
    content icon-chevron-left
.icon-chevron-right
  &:before
    content icon-chevron-right
.icon-circle
  &:before
    content icon-circle
.icon-comment1
  &:before
    content icon-comment1
.icon-compress
  &:before
    content icon-compress
.icon-computer-mac
  &:before
    content icon-computer-mac
.icon-computer
  &:before
    content icon-computer
.icon-dot-small
  &:before
    content icon-dot-small
.icon-dot
  &:before
    content icon-dot
.icon-drink
  &:before
    content icon-drink
.icon-emotion
  &:before
    content icon-emotion
.icon-eraser
  &:before
    content icon-eraser
.icon-expand1
  &:before
    content icon-expand1
.icon-folder-open
  &:before
    content icon-folder-open
.icon-frown-o1
  &:before
    content icon-frown-o1
.icon-gear
  &:before
    content icon-gear
.icon-gift
  &:before
    content icon-gift
.icon-grid
  &:before
    content icon-grid
.icon-hand-up1
  &:before
    content icon-hand-up1
.icon-heart
  &:before
    content icon-heart
.icon-img-empty
  &:before
    content icon-img-empty  
    color #9d9e9e
.icon-info-o
  &:before
    content icon-info-o
.icon-laser
  &:before
    content icon-laser
.icon-link
  &:before
    content icon-link
.icon-lock
  &:before
    content icon-lock
.icon-media
  &:before
    content icon-media
.icon-microphone-high
  &:before
    content icon-microphone-high
.icon-microphone-low
  &:before
    content icon-microphone-low
.icon-microphone-medium
  &:before
    content icon-microphone-medium
.icon-microphone
  &:before
    content icon-microphone
.icon-minus-circle
  &:before
    content icon-minus-circle
.icon-minus
  &:before
    content icon-minus
.icon-mobile1
  &:before
    content icon-mobile1
.icon-more
  &:before
    content icon-more
.icon-move
  &:before
    content icon-move
.icon-neutral-o1
  &:before
    content icon-neutral-o1
.icon-no-chat
  &:before
    content icon-no-chat
.icon-no-microphone
  &:before
    content icon-no-microphone
.icon-no-webcam
  &:before
    content icon-no-webcam
.icon-pause-o
  &:before
    content icon-pause-o
.icon-pencil
  &:before
    content icon-pencil
.icon-pingjiaicon
  &:before
    content icon-pingjiaicon
.icon-play-o
  &:before
    content icon-play-o
.icon-plus-circle
  &:before
    content icon-plus-circle
.icon-plus
  &:before
    content icon-plus
.icon-point
  &:before
    content icon-point
.icon-popdown
  &:before
    content icon-popdown
.icon-popup
  &:before
    content icon-popup
.icon-question-circle
  &:before
    content icon-question-circle
.icon-question-o1
  &:before
    content icon-question-o1
.icon-rect
  &:before
    content icon-rect
.icon-refresh1
  &:before
    content icon-refresh1
.icon-reset
  &:before
    content icon-reset
.icon-search-minus
  &:before
    content icon-search-minus
.icon-search-plus
  &:before
    content icon-search-plus
.icon-search
  &:before
    content icon-search
.icon-share1
  &:before
    content icon-share1
.icon-shutdown
  &:before
    content icon-shutdown
.icon-smile-o1
  &:before
    content icon-smile-o1
.icon-speaker
  &:before
    content icon-speaker
.icon-star-half1
  &:before
    content icon-star-half1
.icon-star-o1
  &:before
    content icon-star-o1
.icon-star-sharp
  &:before
    content icon-star-sharp
.icon-star1
  &:before
    content icon-star1
.icon-survey1
  &:before
    content icon-survey1
.icon-switch-route
  &:before
    content icon-switch-route  
    color #bdc6cf
.icon-text
  &:before
    content icon-text
.icon-times-o
  &:before
    content icon-times-o
.icon-times1
  &:before
    content icon-times1
.icon-trash
  &:before
    content icon-trash
.icon-tuning
  &:before
    content icon-tuning
.icon-upload
  &:before
    content icon-upload
.icon-user
  &:before
    content icon-user
.icon-userlist
  &:before
    content icon-userlist
.icon-volume-down
  &:before
    content icon-volume-down
.icon-volume-off
  &:before
    content icon-volume-off
.icon-volume-up
  &:before
    content icon-volume-up
.icon-webcam
  &:before
    content icon-webcam
.icon-lottery
  &:before
    content icon-lottery
.icon-pptVideoSwitch
  &:before
    content icon-pptVideoSwitch
.icon-eye-protection .path1
  &:before
    content: icon-eye-protection-path1  
    color rgb(255, 255, 255)  
    opacity 0.512
.icon-eye-protection .path2
  &:before
    content: icon-eye-protection-path2  
    margin-left -1em  
    color rgb(0, 0, 0)

