icomoon-font-path ?= "fonts"

icon-video-on = "\e902"
icon-video-off = "\e903"
icon-transfer = "\e904"
icon-times = "\e905"
icon-times-circle = "\e906"
icon-ppt-main = "\e907"
icon-telephone = "\e908"
icon-survey = "\e909"
icon-star = "\e90a"
icon-star-o = "\e90b"
icon-star-half = "\e90c"
icon-smile-o = "\e90d"
icon-shrink = "\e90e"
icon-share = "\e90f"
icon-remark = "\e910"
icon-refresh = "\e911"
icon-question-o = "\e912"
icon-ppt = "\e913"
icon-open = "\e914"
icon-notice-board = "\e915"
icon-neutral-o = "\e916"
icon-nav-more = "\e917"
icon-mobile = "\e918"
icon-menu = "\e919"
icon-keyboard-o = "\e91a"
icon-hand-up = "\e91b"
icon-frown-o = "\e91c"
icon-forbid-message = "\e91d"
icon-extend-m = "\e91e"
icon-expand = "\e91f"
icon-exit = "\e920"
icon-emotion-o = "\e921"
icon-downward = "\e922"
icon-danmu-on = "\e923"
icon-danmu-off = "\e924"
icon-comment = "\e925"
icon-comment-m = "\e926"
icon-coin = "\e927"
icon-close = "\e928"
icon-circle-right = "\e929"
icon-check = "\e92a"
icon-chat = "\e92b"
icon-caret-down = "\e92c"
icon-bell = "\e92d"
icon-audio = "\e92e"
icon-audio-on = "\e92f"
icon-audio-apply = "\e930"
icon-arrow-right = "\e931"
icon-angle-right = "\e932"
icon-angle-left = "\e933"
icon-angle-down = "\e934"
icon-open-app = "\e935"
icon-video-main = "\e936"
icon-zhujiang-path1 = "\e97e"
icon-zhujiang-path2 = "\e97f"
icon-timeclock = "\e97c"
icon-countdown = "\e97d"
icon-kickout = "\e97b"
icon-send-image = "\e97a"
icon-signin = "\e979"
icon-person = "\e978"
icon-speaker2 = "\e96c"
icon-share2-path1 = "\e96d"
icon-share2-path2 = "\e96e"
icon-share2-path3 = "\e96f"
icon-share2-path4 = "\e970"
icon-share2-path5 = "\e971"
icon-share2-path6 = "\e972"
icon-room = "\e973"
icon-record = "\e974"
icon-mic = "\e975"
icon-link2 = "\e976"
icon-camera2 = "\e977"
icon-forbid-user-chat = "\e96a"
icon-unforbid-user-chat = "\e96b"
icon-invite-speak = "\e968"
icon-more-horiz = "\e966"
icon-contact-service = "\e965"
icon-qq = "\e969"
icon-yaoqingma = "\e937"
icon-zhanghao = "\e938"
icon-android = "\e939"
icon-angle-down1 = "\e93a"
icon-angle-left1 = "\e93b"
icon-angle-right1 = "\e93c"
icon-angle-up = "\e93d"
icon-apple = "\e93e"
icon-arrow-down = "\e93f"
icon-arrow-up = "\e940"
icon-arrow = "\e941"
icon-book = "\e942"
icon-bookrack = "\e943"
icon-browser = "\e944"
icon-bug = "\e945"
icon-camera = "\e946"
icon-cancel-img = "\e947"
icon-caret-down1 = "\e948"
icon-caret-left = "\e949"
icon-caret-right = "\e94a"
icon-caret-up = "\e94b"
icon-check1 = "\e94c"
icon-chevron-left = "\e94d"
icon-chevron-right = "\e94e"
icon-circle = "\e94f"
icon-comment1 = "\e950"
icon-compress = "\e951"
icon-computer-mac = "\e952"
icon-computer = "\e953"
icon-dot-small = "\e954"
icon-dot = "\e955"
icon-drink = "\e956"
icon-emotion = "\e957"
icon-eraser = "\e958"
icon-expand1 = "\e959"
icon-folder-open = "\e95a"
icon-frown-o1 = "\e95b"
icon-gear = "\e95c"
icon-gift = "\e95d"
icon-grid = "\e95e"
icon-hand-up1 = "\e95f"
icon-heart = "\e960"
icon-img-empty = "\e961"
icon-info-o = "\e962"
icon-laser = "\e963"
icon-link = "\e964"
icon-lock = "\e967"
icon-media = "\e980"
icon-microphone-high = "\e981"
icon-microphone-low = "\e982"
icon-microphone-medium = "\e983"
icon-microphone = "\e984"
icon-minus-circle = "\e985"
icon-minus = "\e986"
icon-mobile1 = "\e987"
icon-more = "\e988"
icon-move = "\e989"
icon-neutral-o1 = "\e98a"
icon-no-chat = "\e98b"
icon-no-microphone = "\e98c"
icon-no-webcam = "\e98d"
icon-pause-o = "\e98e"
icon-pencil = "\e98f"
icon-pingjiaicon = "\e990"
icon-play-o = "\e991"
icon-plus-circle = "\e992"
icon-plus = "\e993"
icon-point = "\e994"
icon-popdown = "\e995"
icon-popup = "\e996"
icon-question-circle = "\e997"
icon-question-o1 = "\e998"
icon-rect = "\e999"
icon-refresh1 = "\e99a"
icon-reset = "\e99b"
icon-search-minus = "\e99c"
icon-search-plus = "\e99d"
icon-search = "\e99e"
icon-share1 = "\e99f"
icon-shutdown = "\e9a0"
icon-smile-o1 = "\e9a1"
icon-speaker = "\e9a2"
icon-star-half1 = "\e9a3"
icon-star-o1 = "\e9a4"
icon-star-sharp = "\e9a5"
icon-star1 = "\e9a6"
icon-survey1 = "\e9a7"
icon-switch-route = "\e9a8"
icon-text = "\e9a9"
icon-times-o = "\e9aa"
icon-times1 = "\e9ab"
icon-trash = "\e9ac"
icon-tuning = "\e9ad"
icon-upload = "\e9ae"
icon-user = "\e9af"
icon-userlist = "\e9b0"
icon-volume-down = "\e9b1"
icon-volume-off = "\e9b2"
icon-volume-up = "\e9b3"
icon-webcam = "\e9b4"
icon-lottery = "\e9b5"
icon-pptVideoSwitch = "\e9b6"
icon-eye-protection-path1 = "\e900"
icon-eye-protection-path2 = "\e901"

