<template>
    <div class="custom-shop" v-show="enableShow">
        <i class="sprite-icon shopping" @click="showList" v-show="false"></i>

        <div class="recommend-item" v-show="recommendItem && recommendItem.goodImg && !hideRecommendItem">
            <i class="sprite-icon small-close" @click="hideRecommend"></i>
            <div class="bjy-img-wrapper">
                <img :src="recommendItem && recommendItem.goodImg" class="brand" @click="buy(recommendItem)" />
                <div class="bjy-product-speaking" v-if="recommendItem.id === explainingProductId">
                    <i class="sprite-icon icon-product-speaking"></i>
                    {{ language.PRODUCT_SPEAKING }}
                </div>
            </div>
            <div class="bjy-item-title">{{ recommendItem.goodName }}</div>
            <div class="bjy-price-wrapper">
                <div class="price">
                    <span class="price-prefix">￥</span>{{ recommendItem.discountPrice | fomatDiscountPrice }}
                </div>
                <div class="origin-price"><span class="price-prefix">￥</span>{{ recommendItem.price }}</div>
            </div>
        </div>

        <div class="list" v-show="isShowList">
            <div class="list-head">
                <span>{{ title }}</span>
                <i class="sprite-icon small-close" @click="hideList"></i>
            </div>
            <div class="list-content">
                <div
                    v-for="item in list"
                    :key="item.id"
                    class="item"
                    :class="{ active: item.id === explainingProductId }"
                >
                    <div class="item-img-wrap sprite-icon icon-product-default">
                        <span class="seq">{{ item.displayOrder }}</span>
                        <img
                            :src="item.goodImg"
                            class="item-img"
                            onerror="javascript:this.setAttribute('data-error', 1);this.onerror=null;"
                        />
                        <div class="bjy-product-speaking" v-if="item.id === explainingProductId">
                            <i class="sprite-icon icon-product-speaking"></i>
                            {{ language.PRODUCT_SPEAKING }}
                        </div>
                    </div>
                    <div class="item-content">
                        <p class="item-desc">{{ item.goodName }}</p>
                        <div class="item-price-wrapper">
                            <div>
                                <span class="price">
                                    <span class="price-prefix">￥</span>{{ item.discountPrice | fomatDiscountPrice }}
                                </span>
                                <span class="origin-price"> <span class="price-prefix">￥</span>{{ item.price }} </span>
                            </div>

                            <span class="button-buy" @click="buy(item)">去购买</span>
                        </div>
                    </div>
                </div>
                <!-- 商品列表为空时提示 -->
                <div v-if="!list || !list.length" class="bjy-product-empty">
                    <i class="sprite-icon icon-product-empty"></i>
                    {{ language.SELL_PRODUCT_EMPTY_TIP }}
                    <div class="btn btn_refresh" @click="getProductList()">{{ language.REFRESH_LIST }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    var eventEmitter = BJY.eventEmitter
    var store = BJY.store
    var camelCaseObject = BJY.camelCaseObject
    var language = {
        SELL_PRODUCT_TITLE: '共${count}件商品',
        PRICE_FREE_DISPLAY: '免费',
        PRODUCT_SPEAKING: '讲解中...',
        SELL_PRODUCT_EMPTY_TIP: '没有上架的商品~',
        REFRESH_LIST: '刷新重试'
    }

    var CUSTOM_BROADCAST_KEY = 'bjy_product_shelf_change'
    export default {
        name: 'CustomShop',
        data: function() {
            return {
                language: language,
                isShowList: false,
                hideRecommendItem: false,
                goodsList: [],
                onShelfProductIdArray: [],
                explainingProductId: '',
                enableShow: false
            }
        },
        computed: {
            list: function() {
                var result = []
                var goodsList = this.get('goodsList')
                var onShelfProductIdArray = this.get('onShelfProductIdArray')
                Yox.array.each(goodsList, (item) => {
                    if (onShelfProductIdArray && ~onShelfProductIdArray.indexOf(item.id)) {
                        result.push(item)
                    }
                })
                return result
            },
            recommendItem: function() {
                var recommendItem = {}
                var explainingProductId = this.get('explainingProductId')
                var goodsList = this.get('goodsList')
                var onShelfProductIdArray = this.get('onShelfProductIdArray')
                Yox.array.each(goodsList, (item) => {
                    if (item.id === explainingProductId && ~onShelfProductIdArray.indexOf(item.id)) {
                        recommendItem = item
                    }
                })
                return recommendItem
            },
            title: function() {
                let title = language.SELL_PRODUCT_TITLE.replace('${count}', this.get('list') && this.get('list').length)
                return title
            }
        },
        filters: {
            fomatDiscountPrice: function(price) {
                return price <= 0 ? language.PRICE_FREE_DISPLAY : price
            }
        },
        methods: {
            showList: function() {
                this.isShowList = true
            },
            hideList: function() {
                this.isShowList = false
            },
            hideRecommend: function() {
                this.hideRecommendItem = true
            },
            removeItem: function(item) {
                var index = 0,
                    len = this.list.length,
                    product
                for (; index < len; index++) {
                    product = this.list[index]
                    if (product.id === item.id) {
                        break
                    }
                }
                if (product) {
                    this.list.splice(index, 1)
                }
            },
            buy: function(item) {
                if (item && item.url) {
                    window.open(item && item.url)
                }
            },
            getProductList: async function() {
                let res = await fetch(
                    BJY.apiOrigin +
                        `/web/room/getRoomGoodsList?room_id=${store.get(
                            'class.id'
                        )}&page=1&page_size=100&token=${store.get('token')}`,
                    {
                        method: 'GET',
                        cache: 'no-cache',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                )
                let response = await res.json()
                response = camelCaseObject(response)
                if (response && response.data && response.code === 0) {
                    this.set('goodsList', response.data.list)
                }
            }
        },
        created: function() {
            this.getProductList()
        },
        mounted: function() {
            var me = this
            // 获取缓存自定义广播信令
            BJY.api.getCachedBroadcast(CUSTOM_BROADCAST_KEY)
            // 监听自定义广播信令
            BJY.api.onReceiveBroadcast(CUSTOM_BROADCAST_KEY, function(fromId, data, cache) {
                if (data && 'string' === typeof data) {
                    data = JSON.parse(data)
                }
                me.set('onShelfProductIdArray', data.shelf_ids)
                me.set('explainingProductId', data.ref_product_id)
                // 显示讲解中的商品
                if (me.get('explainingProductId')) {
                    me.hideRecommendItem = false
                }
                me.enableShow = data.enable
                store.set('product.enableShow', me.enableShow)
                !me.enableShow && me.hideList()
            })

            eventEmitter
                .on(eventEmitter.SELL_PRODUCT_LIST_SHOW_TRIGGER, function() {
                    me.showList()
                })
                .on(eventEmitter.SAIL_GOODS_UPDATE, function(event, data) {
                    // 观众端收到商品更新通知时随机延时 3 秒，避免集中请求接口
                    setTimeout(() => {
                        data && !data.cache && me.getProductList()
                    }, Math.random() * 3000)
                })
        }
    }
</script>

<style lang="scss">
    .shopping-wrapper {
        position: fixed;
        right: 15px;
        bottom: 28px;
        z-index: 2;

        .recommend-item {
            position: fixed;
            right: 15px;
            bottom: 80px;
            width: 120px;
        }

        .list {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            .list-content {
                max-height: 300px;
                overflow-y: auto;
            }
        }
    }
    .bjy-sell-interaction {
        position: fixed;
        right: 15px;
        bottom: 50px;
        width: 172px;
        height: 40px;
        margin-left: 12px;
        z-index: 2;
        transition: bottom 0.3s;
    }
    .custom-shop {
        .button-buy {
            text-align: center;
        }
        .list {
            background: #ffffff;
            border-radius: 12px 12px 0px 0px;
            padding: 0 0 10px;
            min-height: 240px;

            .list-head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 40px;
                font-size: 16px;
                padding: 0 16px;
                border-bottom: 1px dashed #dddddd;
            }

            .list-content {
                margin-top: 6px;

                .bjy-product-empty {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .btn_refresh {
                        height: 32px;
                        padding: 0 20px;
                        margin-top: 30px;
                        background: #1795ff;
                        border-radius: 4px;
                        box-shadow: 0px 4px 8px 0px rgba(23, 149, 255, 0.3);
                        color: #ffffff;
                        line-height: 32px;
                        :hover {
                            filter: brightness(1.2);
                        }
                        :active {
                            filter: brightness(1.1);
                        }
                    }
                }

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .item {
                display: flex;
                padding: 8px 16px;
                border-bottom: 1px transparent rgba(255, 227, 232, 1);

                & + .item {
                    margin-top: 6px;
                }
                .item-img-wrap {
                    position: relative;
                    .item-img {
                        width: 114px;
                        height: 96px;
                        margin-right: 4px;
                        border-radius: 4px;
                        &[data-error='1'] {
                            display: none;
                        }
                    }
                    .seq {
                        position: absolute;
                        left: 4px;
                        top: 4px;
                        width: 18px;
                        height: 18px;
                        line-height: 16px;
                        border-radius: 100%;
                        background-color: #9fa8b5;
                        color: #ffffff;
                    }
                }
                .item-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex: 1;
                    margin-left: 8px;

                    .item-desc {
                        height: 47px;
                        line-height: 22px;
                        font-size: 16px;
                        font-weight: 500;
                        text-align: left;
                        word-break: break-all;
                        overflow: hidden;
                    }

                    .item-price-wrapper {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        .price {
                            font-size: 18px;
                            color: #ff1f49;
                            .price-prefix {
                                font-size: 12px;
                            }
                        }
                        .origin-price {
                            margin-left: 12px;
                            font-size: 12px;
                            color: #999999;
                            text-decoration-line: line-through;
                        }
                        .button-buy {
                            width: 72px;
                            line-height: 32px;
                            margin-bottom: 4px;
                            background: #ff1f49;
                            border-radius: 12px;
                            font-size: 14px;
                            color: #ffffff;
                        }
                    }
                }

                &.active {
                    background: rgba(252, 246, 249, 1);
                    border-bottom: 1px solid rgba(255, 227, 232, 1);
                }
            }
        }

        .bjy-product-speaking {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            height: 18px;
            line-height: 18px;
            left: 0;
            bottom: 0;
            right: 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background: rgba(255, 31, 73, 0.5);
            color: #ffffff;

            .icon-product-speaking {
                background-position: 0 -402px;
                animation: splash-speaking-icon 1.5s steps(11) infinite;
                margin-right: 3px;
            }
            @keyframes splash-speaking-icon {
                0% {
                    background-position-x: 0;
                }
                100% {
                    background-position-x: -132px;
                }
            }
        }

        .recommend-item {
            background: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 8px;
            box-sizing: content-box;

            .bjy-img-wrapper {
                position: relative;
            }
            .brand {
                display: block;
                width: 120px;
                height: 90px;
                border-radius: 4px;
            }
            .small-close {
                position: absolute;
                top: 4px;
                right: 4px;
                z-index: 2;
            }
            .bjy-item-title {
                font-size: 14px;
                font-family: PingFangSC, PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                color: #333333;
                line-height: 20px;
                margin-left: 5px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .bjy-price-wrapper {
                text-align: left;
                margin-left: 5px;
                .price {
                    font-size: 18px;
                    color: #ff1f49;
                    .price-prefix {
                        font-size: 12px;
                    }
                    line-height: 20px;
                }
                .origin-price {
                    font-size: 12px;
                    color: #999999;
                    text-decoration-line: line-through;
                    line-height: 20px;
                }
            }
        }
    }
</style>
