<template>
    <div class="active-list-container">
        <div class="placeholder"></div>
    </div>
</template>

<script>
    export default {
        name: 'ActiveList',
        props: {
            skin: {
                type: String,
                default: ''
            }
        },
        data() {
            return {
                instance: null,
                myDevice: null
            }
        },
        mounted() {
            this.instance = BJY.H5ActiveList.create({
                element: $('.active-list-container .placeholder'),
                canAddPresenter: true,
                selfPlayerAtLast: true,
                skin: this.skin
            })
            this.myDevice = new BJY.H5MyDevice({
                onTip: (content) => this.$Toast(content),
                onSpeakInviteConfirm: () => {
                    this.$Confirm
                        .show({
                            title: '提示',
                            content: '主讲邀请你上麦',
                            confirmText: '同意',
                            cancelText: '拒绝'
                        })
                        .then(
                            () => true,
                            () => false
                        )
                }
            })
        },
        beforeDestroy() {
            this.instance && this.instance.destroy()
            this.myDevice && this.myDevice.destroy()
        }
    }
</script>

<style></style>
