<template>
    <div class="bjy-sell-interaction" :data-show-applying-layer="showApplyingLayer ? '1' : '0'">
        <div class="bjy-interaction-item-wraper" :key="key" v-for="key in items" v-show="isEnable(key)">
            <div class="bjy-interaction-item" @click="onItemClick(key)" v-show="key !== 'product' || showProduct">
                <i
                    class="sprite-icon"
                    @animationend="onAnimationEnd($event)"
                    :class="getStyleClass(key)"
                    :data-media-on="mediaOn ? 1 : 0"
                >
                    <i v-if="key === 'product'" class="sprite-icon icon-product-background"></i>
                </i>
            </div>
        </div>
        <div class="live-applying-layer" v-show="showApplyingLayer">
            <span class="item" @click="apply(APPLY_TYPE_AUDIO_ON)">音频连麦</span>
            <span class="item" @click="apply(APPLY_TYPE_VIDEO_ON)">视频连麦</span>
            <span class="item" @click="apply()">取消</span>
        </div>
    </div>
</template>

<script>
    const eventEmitter = BJY.eventEmitter
    const config = BJY.config
    const store = BJY.store
    const classData = BJY.data.class
    const INTERACTION_TYPE_PRODUCT = 'product'
    const INTERACTION_TYPE_APPLY = 'apply'
    const APPLY_TYPE_AUDIO_ON = 1
    const APPLY_TYPE_VIDEO_ON = 2
    const interactionItemClickHandlerMap = {
        [INTERACTION_TYPE_PRODUCT]: function() {
            eventEmitter.trigger(eventEmitter.SELL_PRODUCT_LIST_SHOW_TRIGGER)
        },
        [INTERACTION_TYPE_APPLY]: function() {
            if (this.get('mediaOn')) {
                eventEmitter.trigger(eventEmitter.SPEAK_END_CLICK)
            } else {
                if (!this.started) {
                    this.$Toast('直播未开始')
                    return
                }
                if (classData.getForbidSpeakApply()) {
                    this.$Toast('已禁止上麦')
                    return
                }
                this.showApplyingLayer = true
            }
        }
    }
    BJY.auth.canOpenCameraWhenSpeaking = function() {
        return store.get('speakCameraTurnon')
    }
    export default {
        name: 'Interaction',
        props: {
            enableSpeak: {
                type: Boolean,
                default: false
            }
        },
        data: function() {
            return {
                items: [INTERACTION_TYPE_PRODUCT, INTERACTION_TYPE_APPLY],
                showAnimation: true,
                animationInterval: null,
                showApplyingLayer: false,
                APPLY_TYPE_AUDIO_ON: APPLY_TYPE_AUDIO_ON,
                APPLY_TYPE_VIDEO_ON: APPLY_TYPE_VIDEO_ON
            }
        },
        computed: {
            showProduct: function() {
                return !!store.get('product.enableShow')
            },
            mediaOn: function() {
                return store.get('user.videoOn') || store.get('user.audioOn')
            },
            started: function() {
                return store.get('class.started')
            }
        },
        methods: {
            isEnable: function(key) {
                if (key === INTERACTION_TYPE_APPLY) {
                    return this.enableSpeak
                }
                return true
            },
            getItemIcon: function(key) {
                return 'icon-interaction-' + key
            },
            onItemClick: function(key) {
                var me = this
                var handler = interactionItemClickHandlerMap && interactionItemClickHandlerMap[key]
                handler && handler.apply(me)
            },
            getStyleClass: function(key) {
                var list = [this.getItemIcon(key)]
                if (key === INTERACTION_TYPE_PRODUCT) {
                    list.push(this.showAnimation ? 'animation' : '')
                }
                return list
            },
            onAnimationEnd: function() {
                this.showAnimation = false
            },
            apply: function(type) {
                this.applyingType = type
                this.showApplyingLayer = false
                if (type) {
                    store.set('speakCameraTurnon', type === APPLY_TYPE_VIDEO_ON)
                    if (this.get('mediaOn')) {
                        eventEmitter.trigger(eventEmitter.SPEAK_END_CLICK)
                    } else if (this.get('applying')) {
                        eventEmitter.trigger(eventEmitter.SPEAK_APPLY_CANCEL_CLICK)
                    } else {
                        if (classData.getForbidSpeakApply()) {
                            this.$Toast('主讲已禁止上麦')
                            return
                        }
                        eventEmitter.trigger(eventEmitter.SPEAK_APPLY_CLICK)
                    }
                }
            }
        },
        mounted: function() {
            var me = this
            if (!this.animationInterval) {
                this.animationInterval = setInterval(function() {
                    me.showAnimation = true
                }, 10 * config.SECOND)
            }
        },
        beforeDestroy: function() {
            if (this.animationInterval) {
                clearInterval(this.animationInterval)
                this.animationInterval = null
            }
        }
    }
</script>

<style lang="scss">
    .bjy-sell-interaction {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .bjy-interaction-item-wraper + .bjy-interaction-item-wraper {
            margin-left: 10px;
        }
        .bjy-interaction-item {
            width: 40px;
            height: 40px;

            .icon-interaction-product {
                background-position: -1040px -1320px;
                position: relative;
                &.animation {
                    animation: splash-icon 1.4s steps(33) 1;
                }
                @keyframes splash-icon {
                    0% {
                        background-position-y: 0;
                    }
                    100% {
                        background-position-y: -1320px;
                    }
                }
            }

            .icon-product-background {
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }

            .bjy-like-bubble-wrapper {
                position: absolute;
                bottom: 45px;
                left: 50%;
                transform: translateX(-30%);
                width: 100px;
                height: 260px;
                font-size: 12px;
                pointer-events: none;
            }

            .bjy-like-count {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -11px;
                border-radius: 11px;
                min-width: 40px;
                height: 16px;
                line-height: 16px;
                padding: 0 3px;
                background: #ff1f49;
                font-size: 12px;
                font-family: PingFangSC, PingFangSC-Medium;
                font-weight: 500;
                color: #ffffff;
                white-space: nowrap;
            }
        }

        .bjy-gift-wrapper {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;

            .bjy-gift-layer {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: transparent;
                z-index: -1;
            }
        }

        .live-applying-layer {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: #000;
            background-color: #fff;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 54px;
                + .item {
                    border-top: solid 1px rgba(176, 190, 197, 0.6);
                }
            }
        }
        &[data-show-applying-layer='1'] {
            z-index: 4 !important;
        }
    }
</style>
