<template>
    <div
        id="h5-player"
        :class="{ 'has-active': hasActive, 'play-assist-media': isPlayingAssistMedia }"
        :style="{ height: assistMediaHeight }"
        :data-ratio="ratio"
        :data-only-presenter="onlyPresenter ? 1 : 0"
    >
        <div v-if="!started || tip" class="tip">
            <i class="sprite-icon wait"></i>
            <div>
                {{ tip }}
            </div>
        </div>
        <!-- 因为手机不支持自动播放，需在播放器位置放一个播放按钮，点击后调用 teacherH5Player.playAV(true) 触发播放 -->
        <div v-show="started && !isPlaying && !tip" id="btn-wrap" @click="togglePlay(true)">
            <i v-show="!isLoading" class="sprite-icon icon-live"></i>
            <i v-show="isLoading" class="sprite-icon icon-loading"></i>
        </div>
    </div>
</template>

<script>
var eventEmitter = BJY.eventEmitter
// store 存储着系统的权限信息
var store = BJY.store
var userData = BJY.data.user
var classData = BJY.data.class
var auth = BJY.auth
var config = BJY.config
var os = BJY.os
let webrtcMixMediaPublish = BJY.webrtcMixMediaPublish
var logger = BJY.loggerManager.create({ prefix: 'demo player' })
// 获取创建播放器的 Player 对象
var Player = BJY.Player
var teacherH5Player
var playButton
var useBplayer = true

var PLAY_BTN_TEXT_PLAY = '进入直播间'
var PLAY_BTN_TEXT_LOADING = '正在进入直播间…'

function getPresenter() {
    return store.get('webrtcMixUser') || store.get('presenter')
}

function createPlayer() {
    teacherH5Player && disposePlayer()
    logger('createPlayer')
    window.player = teacherH5Player = new Player({
        // 组件的父容器
        element: $('#h5-player'),
        // 音视频发布用户（一般为主播）
        user: getPresenter(),
        // 播放器扩展（实现与底层播放相关的接口 可直接使用百家云实现 H5 扩展 Player.html。）
        extension: BJY.Player.html,
        isWebRTCMix: auth.isWebRTC(),
        preLoad: false
    })
}

function disposePlayer() {
    if (teacherH5Player) {
        // 销毁 H5 播放器组件
        teacherH5Player.dispose()
        // 将对 H5 组件对象置空
        window.player = teacherH5Player = null
    }
}

function setRenderMode() {
    var player = teacherH5Player && teacherH5Player.video && teacherH5Player.video.wasmPlayer
    var RENDER_TYPE_COVER = 1
    player && player.setRenderMode(RENDER_TYPE_COVER)
}

export default {
    components: {},
    props: {
        autoPlay: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            tip: '',
            started: false,
            isPlaying: false,
            isLoading: false,
            eventList: [],
            user: getPresenter(),
            activeCount: 0,
            mainScreenMediaIdChangeHandler: null,
            playingLocalOrCloudFile: false,
            playFileAspect: 16 / 9,
            screenSharing: false,
            screenShareAspect: 16 / 9
        }
    },
    computed: {
        btnText: function () {
            return this.isLoading ? PLAY_BTN_TEXT_LOADING : PLAY_BTN_TEXT_PLAY
        },
        mediaOn: function () {
            let user = this.user
            return user && (user.videoOn || user.audioOn)
        },
        hasActive: function () {
            return this.activeCount > 0
        },
        ratio: function () {
            if (BJY.Sell.isVideoFullScreenTemplate()) {
                return config.CAMERA_RATIO_9_16
            }
            return store.get('partner.mcuVideoRatio') === '16x9' ? config.CAMERA_RATIO_16_9 : config.CAMERA_RATIO_4_3
        },
        onlyPresenter: function () {
            return store.get('partner.groupMixTemplate') === 'portrait_only_presenter'
        },
        isPlayingAssistMedia: function () {
            return this.screenSharing || this.playingLocalOrCloudFile
        },
        assistMediaHeight: function () {
            if (this.playingLocalOrCloudFile) {
                return `${100 / this.playFileAspect}vw`
            } else if (this.screenSharing) {
                return `${100 / this.screenShareAspect}vw`
            }
            return ''
        }
    },
    watch: {},
    methods: {
        togglePlay() {
            var user = getPresenter()
            if (!user.videoOn && !user.audioOn) {
                return
            }
            if (!teacherH5Player) {
                createPlayer()
            }
            // 如果当前播放器正在播放，先关掉播放器
            else if (teacherH5Player.videoOn || teacherH5Player.audioOn) {
                teacherH5Player.playAVClose()
            }
            useBplayer && teacherH5Player.endPreLoad && teacherH5Player.endPreLoad()
            // 播放视频
            teacherH5Player.playAV(store.get('teacher.videoOn'))
            this.isLoading = true
        },
        replay() {
            if (teacherH5Player) {
                teacherH5Player.replay()
            }
        },
        checkStatus() {
            logger('checkStatus')
            var user = getPresenter()
            this.started = store.get('class.started')
            if (!this.started) {
                if (classData.isEndTimeReached()) {
                    this.tip = '直播已结束'
                } else {
                    this.tip = '主播不在，请稍后'
                }
            }
            if (user && user.videoOn) {
                this.tip = ''
                return
            }
            if (!user) {
                this.isPlaying = false
                this.tip = '主播不在，请稍后'
            }
            if (user && !user.videoOn) {
                this.isPlaying = false
                this.tip = '主播未开摄像头'
            }
        },
        activeCountChange: function () {
            var activeCount = 0
            var list = userData.active()
            Yox.array.each(list, function (user) {
                if (!auth.isPresenter(user.id) && (userData.isActive(user.id) || userData.isAssistActive(user.id))) {
                    activeCount++
                }
            })
            this.activeCount = activeCount
        },
        changePlayerParentDOMHeight: function () {}
    },
    created() {
        var me = this
        var namespace = '.Player' + Math.random()
        me.namespace = namespace
        this.started = store.get('class.started') && me.user
        // if (
        //     !FFPlayer ||
        //     !FFPlayer.isSupported() ||
        //     (os.ios && os.version < '13.0.0') ||
        //     (os.android && +os.version < 6)
        // ) {
        //     useBplayer = false
        // }

        if (FFPlayer && FFPlayer.isSupported() && os.ios && os.version > '13.0.0') {
            BJY.Player.html.extensions.useBplayer = useBplayer
        }

        // BJY.Player.html.extensions.useBplayer = useBplayer
        // 初始化 H5 播放器扩展
        BJY.Player.html.init()

        me.activeCountChange()
        // 监听 H5 播放器相关事件
        eventEmitter
            .on(
                // 主播打开媒体事件
                eventEmitter.TEACHER_MEDIA_ON + namespace,
                () => {
                    logger('主播媒体开启')
                    // 判断播放器是否存在
                    if (!teacherH5Player) {
                        // 若不存在，创建一个 H5 播放器组件
                        useBplayer && createPlayer()
                    }
                    //me.togglePlay()
                    me.tip = ''
                    me.started = true
                }
            )
            .on(
                // 主播关闭媒体事件
                eventEmitter.TEACHER_MEDIA_OFF + namespace,
                () => {
                    logger('主播已关摄像头')
                    me.tip = '主播已关摄像头'
                    me.started = false
                    me.checkStatus()
                    me.isPlaying = false
                }
            )
            .on(
                // 主播加入房间事件
                eventEmitter.TEACHER_ADD + namespace,
                function () {
                    logger('主播进入教室')
                    me.checkStatus()
                }
            )
            .on(
                // 主播离开房间事件
                eventEmitter.TEACHER_REMOVE + namespace,
                () => {
                    logger('主播离开')
                    me.tip = '主播离开'
                    me.started = false
                    me.checkStatus()
                    if (teacherH5Player) {
                        // 销毁 H5 播放器组件
                        teacherH5Player.dispose()
                        // 将对 H5 组件对象置空
                        teacherH5Player = null
                    }
                    me.isPlaying = false
                }
            )
            .on(
                // 视频开始播放事件
                eventEmitter.HTML_VIDEO_PLAY + namespace,
                () => {
                    logger('视频开始播放')
                    me.tip = ''
                    me.checkStatus()
                    if (useBplayer) {
                        me.isPlaying = true
                        setRenderMode()
                    } else {
                        var interval = setInterval(() => {
                            var video = $('video', $('#h5-player'))[0]
                            if (!video) {
                                clearInterval(interval)
                            }
                            var paused = video.paused
                            me.isPlaying = !paused
                            if (me.isLoading) {
                                me.isLoading = paused || !video.currentTime
                            }
                            if (!paused && video.currentTime) {
                                clearInterval(interval)
                            }
                        }, 200)
                    }
                }
            )
            .on(eventEmitter.PRESENTER_CHANGE + namespace, (event, user) => {
                if (me.user && user.id !== me.user.id) {
                    me.user = user
                    useBplayer && createPlayer()
                    //me.togglePlay()
                }
            })
            .on(eventEmitter.USER_UPDATE + namespace, (event, user) => {
                logger('USER_UPDATE', user)
                if (user.id == me.user.id) {
                    me.user = user
                }
                me.checkStatus()
            })
            .on(eventEmitter.HTML_VIDEO_LOAD_START + namespace, () => {})
            .on(eventEmitter.HTML_VIDEO_PAUSE + namespace, () => {
                me.isPlaying = false
            })
            .on(eventEmitter.HTML_VIDEO_LOAD_TIMEOUT + namespace, () => {})
            .on(eventEmitter.HTML_VIDEO_LOAD_FAIL + namespace, () => {
                me.isPlaying = false
                me.isPlayError = true
            })
            .on(eventEmitter.CLASS_END + namespace, () => {
                me.checkStatus()
                me.isPlaying = false
                disposePlayer()
            })
            .on(eventEmitter.USER_ACTIVE_ADD + namespace, (event, data) => {
                me.activeCountChange()
            })
            .on(eventEmitter.USER_ACTIVE_REMOVE + namespace, (event, data) => {
                me.activeCountChange()
            })
            .on(eventEmitter.USER_ACTIVE_RES + namespace, (event, data) => {
                me.activeCountChange()
            })
            .on(eventEmitter.ASSIST_MEDIA_PUBLISH + namespace, (e, data) => {
                // 根据宽高比计算高度应该占据的比例
                const mediaWidth = data.width
                const mediaHeight = data.height
                if (mediaWidth && mediaHeight) {
                    if (
                        data.mediaId == BJY.config.MEDIA_TYPE_MAIN_SCREEN_SHARE ||
                        data.mediaId == BJY.config.MEDIA_TYPE_ASSIST_SCREEN_SHARE
                    ) {
                        this.set('screenShareAspect', mediaWidth / mediaHeight)
                    } else if (
                        data.mediaId == BJY.config.MEDIA_TYPE_FILE ||
                        data.mediaId == BJY.config.MEDIA_TYPE_ASSIST_FILE
                    ) {
                        this.set('playFileAspect', mediaWidth / mediaHeight)
                    }
                }

                setTimeout(() => {
                    me.changePlayerParentDOMHeight()
                }, store.get('class.playBuffer') * 1000)
            })
        // 维护合流状态
        if (auth.isWebRTC()) {
            eventEmitter
                .on(eventEmitter.MEDIA_PUBLISH + namespace, (event, data) => {
                    webrtcMixMediaPublish()
                })
                .on(eventEmitter.ASSIST_MEDIA_PUBLISH + namespace, (event, data) => {
                    webrtcMixMediaPublish()
                })
                .on(eventEmitter.MEDIA_REPUBLISH + namespace, (event, data) => {
                    webrtcMixMediaPublish()
                })
                .on(eventEmitter.ASSIST_MEDIA_REPUBLISH + namespace, (event, data) => {
                    webrtcMixMediaPublish()
                })
                .on(eventEmitter.WEBRTC_MIX_MEDIA_PUBLISH + namespace, (event, data) => {
                    me.checkStatus()
                })
            Yox.nextTick(function () {
                webrtcMixMediaPublish()
            })

            // 监听主屏媒体类型
            me.mainScreenMediaIdChangeHandler = function (mediaId) {
                if (mediaId == config.MEDIA_TYPE_FILE || mediaId == config.MEDIA_TYPE_ASSIST_FILE) {
                    me.set({
                        playingLocalOrCloudFile: true,
                        screenSharing: false
                    })
                } else if (
                    mediaId == config.MEDIA_TYPE_MAIN_SCREEN_SHARE ||
                    mediaId == config.MEDIA_TYPE_ASSIST_SCREEN_SHARE
                ) {
                    me.set({
                        playingLocalOrCloudFile: false,
                        screenSharing: true
                    })
                } else {
                    me.set({
                        playingLocalOrCloudFile: false,
                        screenSharing: false
                    })
                }
            }
            store.watch('class.mainScreenMediaId', me.mainScreenMediaIdChangeHandler, true)
        }
    },
    mounted() {
        playButton = $('#btn-wrap')
        if (!this.started) {
            this.tip = '主播不在，请稍后'
            return
        }
        this.checkStatus()
        if (this.autoPlay && this.mediaOn) {
            this.togglePlay()
        }
    },
    beforeDestroy() {
        this.namespace && eventEmitter.off(this.namespace)
        this.mainScreenMediaIdChangeHandler &&
            store.unwatch('class.mainScreenMediaId', this.mainScreenMediaIdChangeHandler)
        disposePlayer()
    }
}
</script>

<style lang="scss">
//@import url(); 引入公共css类

#h5-player {
    height: 100%;
    width: 100%;
    position: relative;
    background: no-repeat url(../assets/no-video.png);
    background-image: -webkit-image-set(url(../assets/no-video@2x.png) 2x);
    background-size: cover;

    #btn-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 3;
        backdrop-filter: blur(3px);
    }

    .hidden {
        display: none;
    }
    .tip {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: no-repeat url(../assets/no-video.png);
        background-image: -webkit-image-set(url(../assets/no-video@2x.png) 2x);
        background-size: cover;
        color: #fff;

        .sprite-icon.wait {
            margin-top: 150px;
        }
    }
    .bjy-video {
        object-fit: cover;
        pointer-events: none;
    }
    &.has-active:not([data-only-presenter='1']) {
        .bjy-video {
            object-fit: contain;
        }
        // 4:3
        &[data-ratio='0'] {
            .bjy-video {
                max-height: 75vw;
            }
        }
        // 16:9
        &[data-ratio='1'] {
            .bjy-video {
                max-height: 56.25vw;
            }
        }
        // 9:16
        &[data-ratio='2'] {
            .bjy-video {
                max-height: 177.7vw;
            }
        }
    }
    &.play-assist-media {
        width: 100vw;
    }
}
</style>
